<ul class="pagination p-3 m-0 justify-content-end" *ngIf="paginationList?.pages && paginationList?.pages.length > 1">
  <li class="paginate_button page-item previous" [ngClass]="{ disabled : currentPage === 1}">
    <a (click)="getPage(currentPage - 1)" class="page-link"><i class="fa fa-angle-double-left"></i></a>
  </li>
  <li class="paginate_button page-item">
    <a class="page-link">{{currentPage}} of {{paginationList.totalPages}}</a>
  </li>
  <li class="paginate_button page-item next" [ngClass]="{ disabled: currentPage === paginationList.totalPages}">
    <a (click)="getPage(currentPage + 1)" class="page-link"><i class="fa fa-angle-double-right"></i></a>
  </li>
</ul>
